@import "tailwindcss";

:root {
  --primary: #4A90E2;
  --secondary: #FFFFFF;
  --tertiary: #000000;

  --primary-hover: #357ABD;
  --secondary-hover: #E5E5E5;
  --tertiary-hover: #1A1A1A;
}

body {
  background: radial-gradient(circle, var(--primary) 0%, var(--primary-hover) 100%);
  color: var(--tertiary);
  font-family: var(--font-raleway);
}
